<div class="container">
    <app-spinner *ngIf="loading"></app-spinner>
    <form #editForm *ngIf="!loading" ngNativeValidate (ngSubmit)="onEdit()" (keydown.enter)="handleEnterKeyPress($event)">
        <div class="row">
            <div class="col m6">
                <mz-input-container>
                    <i mz-icon-mdi mz-input-prefix
                        [icon]="'format-title'">
                    </i>
                    <input mz-input mz-validation required
                        [label]="'Name'"
                        [(ngModel)]="lodging.name"
                        [validate]="true"
                        [dataError]="'name is invalid'"
                        [dataSuccess]="'name is valid'"
                        id="name"
                        name="name"
                        length="150"
                        type="text">
                </mz-input-container>
            </div>
            <div class="col m6">
                <mz-input-container>
                    <i mz-icon-mdi mz-input-prefix
                        [icon]="'web'">
                    </i>
                    <input mz-input
                        [label]="'Website'"
                        [(ngModel)]="lodging.website"
                        id="website"
                        name="website"
                        length="150"
                        type="url">
                </mz-input-container>
            </div>
        </div>
        <mz-textarea-container>
          <i mz-icon-mdi mz-textarea-prefix
            [icon]="'message-reply-text'">
          </i>
          <textarea mz-textarea mz-validation required
            [(ngModel)]="lodging.description"
            [label]="'Description'"
            id="comment-textarea"
            name="description"
            length="300"></textarea>
        </mz-textarea-container>
        <mz-input-container>
            <i mz-icon-mdi mz-input-prefix
                [icon]="'google-maps'">
            </i>
            <app-spinner *ngIf="loadingMap"></app-spinner>
            <input *ngIf="!loadingMap" mz-input ngx-google-places-autocomplete [options]="{
                types: []
                }" value="{{lodging.address}}" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
        </mz-input-container>
        <h3>Images</h3>
        <div *ngFor="let media of lodging.images; index as i" class="row">
            <div class="col m10">
                <mz-input-container>
                    <i mz-icon-mdi mz-input-prefix
                        [icon]="'web'">
                    </i>
                    <input mz-input
                        [label]="'Image Path'"
                        [(ngModel)]="media.path"
                        name="path{{media.mediaType}}-{{i}}"
                        length="150"
                        type="url"
                        (change)="updateSwipers()">
                </mz-input-container>
            </div>
            <div class="col m2">
                <a mz-button [flat]="true" (click)="onDeleteImage(i)">
                    <i mz-icon-mdi [icon]="'delete'" [align]="'left'"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                    <button mz-button type="button" (click)="onAddImage()">
                    <i mz-icon-mdi [icon]="'playlist-plus'" [align]="'left'"></i>
                        Add Image
                    </button>
            </div>
        </div>
        <h3>Videos</h3>
        <div *ngFor="let media of lodging.videos; index as i" class="row">
            <div class="col m10">
                <mz-input-container>
                    <i mz-icon-mdi mz-input-prefix
                        [icon]="'web'">
                    </i>
                    <input mz-input
                        [label]="'Video Path'"
                        [(ngModel)]="media.path"
                        name="path{{media.mediaType}}-{{i}}"
                        length="150"
                        type="text"
                        (change)="updateSwipers()">
                </mz-input-container>
            </div>
            <div class="col m2">
                <a mz-button [flat]="true" (click)="onDeleteVideo(i)">
                    <i mz-icon-mdi [icon]="'delete'" [align]="'left'"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                    <button mz-button type="button" (click)="onAddVideo()">
                    <i mz-icon-mdi [icon]="'playlist-plus'" [align]="'left'"></i>
                        Add Video
                    </button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col s4">
                    <button mz-button>
                    <i mz-icon-mdi [icon]="'content-save'" [align]="'left'"></i>
                        Save lodging
                    </button>
            </div>
        </div>
    </form>
    <div *ngIf="lodging.images.length > 0">
        <h3>Images</h3>
        <swiper class="swiper-container" fxFlex="auto" [config]="swiperConfig">
            <div class="swiper-slide" *ngFor="let sm of lodging.images">
                <img [src]="sm.path">
            </div>
        </swiper>
    </div>
    <div *ngIf="lodging.videos.length > 0">
        <h3>Videos</h3>
        <swiper class="swiper-container" fxFlex="auto" [config]="swiperConfig" (indexChange)="onIndexChange($event)">
                <div class="swiper-slide" *ngFor="let sm of lodging.videos">
                    <youtube-player
                    [videoId]="sm.path.replace('https://youtu.be/', '')"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)" 
                >
                </youtube-player>
            </div>
        </swiper>
    </div>
</div>